nodered-data/flows.json
[
    {
        "id": "10dd252317cb822a",
        "type": "tab",
        "label": "Maintenance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f03cfb04ffe21e70",
        "type": "tab",
        "label": "Spare",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "469b4b2f6211fe88",
        "type": "tab",
        "label": "Veranda",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f76b69f4fde1323",
        "type": "tab",
        "label": "Chambre parents",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f478c30160855d4f",
        "type": "tab",
        "label": "Atelier Orange",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2537c1c5.0f952e",
        "type": "tab",
        "label": "Mijia Gateway",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e6027c8096e7614",
        "type": "tab",
        "label": "Sonos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8ecb6268d2f7168",
        "type": "tab",
        "label": "Chauffage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2267bfe72c3e79d",
        "type": "tab",
        "label": "Thermostat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0181e1b26c9ae404",
        "type": "subflow",
        "name": "Set relais",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "60bd7563fd9a6177"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "relais",
                "type": "str",
                "value": ""
            },
            {
                "name": "canal",
                "type": "str",
                "value": ""
            },
            {
                "name": "etat",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d3deb48544895eb1",
        "type": "subflow",
        "name": "Bouton double",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6a0946b089a05462"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 100,
                "wires": [
                    {
                        "id": "9e5ed997d81029c8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 500,
                "y": 40,
                "wires": [
                    {
                        "id": "9e5ed997d81029c8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "77a5d6919bd23113",
        "type": "subflow",
        "name": "Bouton x6",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "e63c9fb3953f6afc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 100,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 1
                    }
                ]
            },
            {
                "x": 540,
                "y": 160,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 2
                    }
                ]
            },
            {
                "x": 540,
                "y": 220,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 3
                    }
                ]
            },
            {
                "x": 540,
                "y": 280,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 4
                    }
                ]
            },
            {
                "x": 540,
                "y": 340,
                "wires": [
                    {
                        "id": "7bcd73ea10601355",
                        "port": 5
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "968de947dcf2fcd8",
        "type": "subflow",
        "name": "Bouton Simple",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e80d332108dddf11"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 60,
                "wires": [
                    {
                        "id": "e80d332108dddf11",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "01799b7bc5cc6cb8",
        "type": "subflow",
        "name": "Set ampoule",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "be0e4ff59fe48e04"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "ampoule",
                "type": "str",
                "value": ""
            },
            {
                "name": "etat",
                "type": "str",
                "value": ""
            },
            {
                "name": "luminosite",
                "type": "str",
                "value": ""
            },
            {
                "name": "temperature",
                "type": "str",
                "value": ""
            },
            {
                "name": "color",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "00592b45cd933e7c",
        "type": "subflow",
        "name": "Detecteur presence",
        "info": "Ce node envoie un message sur la première sortie à chaque fois qu'une présence est détectée, et un timer est alors (re)lancé.\r\nAu bout de la période de timeout ( 60 s par défautl) sans détection de présence, un message est envoyé sur le seconde sortie.\r\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "1ff87cadc3ca34e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 40,
                "wires": [
                    {
                        "id": "1ff87cadc3ca34e8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 740,
                "y": 100,
                "wires": [
                    {
                        "id": "1ff87cadc3ca34e8",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "timeout",
                "type": "num",
                "value": "60"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8f9c2451b9d4bd6d",
        "type": "subflow",
        "name": "Type appui",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "cfc02862707b37bc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 40,
                "wires": [
                    {
                        "id": "cfc02862707b37bc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 400,
                "y": 100,
                "wires": [
                    {
                        "id": "cfc02862707b37bc",
                        "port": 1
                    }
                ]
            },
            {
                "x": 400,
                "y": 160,
                "wires": [
                    {
                        "id": "cfc02862707b37bc",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e0854c979f67781c",
        "type": "subflow",
        "name": "Cube",
        "info": "Les sorties possibles sont :\r\n1: shake\r\n2: tap\r\n3: flip90\r\n4: flip180\r\n5: rotate_left\r\n6: rotate_right\r\n",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 140,
                "wires": [
                    {
                        "id": "66955b86b06d5132"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 1
                    }
                ]
            },
            {
                "x": 540,
                "y": 120,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 2
                    }
                ]
            },
            {
                "x": 540,
                "y": 160,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 3
                    }
                ]
            },
            {
                "x": 540,
                "y": 200,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 4
                    }
                ]
            },
            {
                "x": 540,
                "y": 240,
                "wires": [
                    {
                        "id": "b5f918a04fe4f64b",
                        "port": 5
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d22a6164a07592ef",
        "type": "subflow",
        "name": "Navigate",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a",
                        "port": 1
                    }
                ]
            },
            {
                "x": 340,
                "y": 120,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a",
                        "port": 2
                    }
                ]
            },
            {
                "x": 340,
                "y": 160,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a",
                        "port": 3
                    }
                ]
            },
            {
                "x": 340,
                "y": 200,
                "wires": [
                    {
                        "id": "3dd534bdc54e719a",
                        "port": 4
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6b9a4b0c3ebbc6a9",
        "type": "subflow",
        "name": "Symfonisk",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "cc7675ccd4c2b946"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 40,
                "wires": [
                    {
                        "id": "112b3bd46219e9fd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 100,
                "wires": [
                    {
                        "id": "112b3bd46219e9fd",
                        "port": 1
                    }
                ]
            },
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "112b3bd46219e9fd",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f29e0fc6a3b512fa",
        "type": "subflow",
        "name": "Likea",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 120,
                "wires": [
                    {
                        "id": "591bd01f6bba0519"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 40,
                "wires": [
                    {
                        "id": "fe15ac82b4406c25",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "fe15ac82b4406c25",
                        "port": 1
                    }
                ]
            },
            {
                "x": 660,
                "y": 160,
                "wires": [
                    {
                        "id": "fe15ac82b4406c25",
                        "port": 2
                    }
                ]
            },
            {
                "x": 660,
                "y": 220,
                "wires": [
                    {
                        "id": "fe15ac82b4406c25",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "de67962f4584028b",
        "type": "subflow",
        "name": "Thermostatique",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "cc3fde561dc968e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "fb8b0b960f22635f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 320,
            "y": 140,
            "wires": [
                {
                    "id": "cc3fde561dc968e8",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "4db7628c7a8c0ec6",
        "type": "group",
        "z": "a8ecb6268d2f7168",
        "name": "Bureau",
        "style": {
            "label": true
        },
        "nodes": [
            "4f2404fa034cc33e",
            "f76d75b0b619d9e3",
            "133b52072840c63a",
            "129c994498727a2a",
            "b7f3ca28a2665f2d"
        ],
        "env": [
            {
                "name": "PIECE",
                "value": "Bureau",
                "type": "str"
            }
        ],
        "x": 34,
        "y": 379
    },
    {
        "id": "404fea4ede43d1dd",
        "type": "group",
        "z": "a8ecb6268d2f7168",
        "name": "Parents",
        "style": {
            "label": true
        },
        "nodes": [
            "6f7fcf3d3237b036",
            "94e1925673e10846",
            "75c23621b7cf3f82",
            "71419739f6c965b5",
            "c0cbaf35a3ff8041",
            "9084d351d74cfb09",
            "2d83fb21b49de743"
        ],
        "x": 34,
        "y": 519
    },
    {
        "id": "e8a19bba8d5a5303",
        "type": "group",
        "z": "a8ecb6268d2f7168",
        "name": "Bureau",
        "style": {
            "label": true
        },
        "nodes": [
            "b5e73886628085ac",
            "a417cf32bbeb7fa7",
            "0febcd0f5b1df4fd",
            "41114b7575c6017d",
            "5b44e57fada2b577"
        ],
        "env": [
            {
                "name": "PIECE",
                "value": "Bureau",
                "type": "str"
            }
        ],
        "x": 34,
        "y": 719
    },
    {
        "id": "43acfe3a9b9177ba",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "raspberrypi",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c7b5a9da06df627",
        "type": "mqtt-broker",
        "name": "",
        "broker": "k1tests.k1info.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7be6658fa8d1bfc9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.lormauto.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2be25b20.752014",
        "type": "mqtt-broker",
        "name": "Mijia Gateway",
        "broker": "192.168.86.21",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "88e9fa70.4a53e8",
        "type": "sonos-config",
        "name": "Cuisine",
        "serialnum": "",
        "ipaddress": "192.168.86.146"
    },
    {
        "id": "60bd7563fd9a6177",
        "type": "function",
        "z": "0181e1b26c9ae404",
        "name": "",
        "func": "var newstate = msg.payload ;\n\nif (msg.relais == undefined)\n    msg.relais = env.get(\"relais\");\nif (msg.canal == undefined)\n    msg.canal = env.get(\"canal\");\nif (msg.etat == undefined)\n    msg.etat = env.get(\"etat\");\n\nmsg.payload = {} ;\nmsg.payload.relay = msg.relais ;\nif (msg.canal != undefined && msg.canal != \"\")\n    msg.payload[\"state_l\" + msg.canal] = msg.etat;\nelse\n    msg.payload[\"state\"] = msg.etat;\n\nmsg.topic = \"zigbee2mqtt/\" + msg.relais + \"/set\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "152c4821852e028a"
            ]
        ]
    },
    {
        "id": "152c4821852e028a",
        "type": "mqtt out",
        "z": "0181e1b26c9ae404",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "862b0b9762100ad2",
        "type": "debug",
        "z": "0181e1b26c9ae404",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a0946b089a05462",
        "type": "function",
        "z": "d3deb48544895eb1",
        "name": "",
        "func": "if(msg.payload.action == undefined)\n    return ;\n\nif (msg.payload.action.indexOf(\"single_\")>-1)\n    msg.event = \"simple\";\nelse if (msg.payload.action.indexOf(\"double_\")>-1)\n    msg.event = \"double\";\nelse if (msg.payload.action.indexOf(\"hold_\")>-1)\n    msg.event = \"hold\";\n\nif (msg.event != undefined)\n    {\n//    msg.payload = msg.action ;\n    return msg ;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "9e5ed997d81029c8"
            ]
        ]
    },
    {
        "id": "9e5ed997d81029c8",
        "type": "switch",
        "z": "d3deb48544895eb1",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "_left",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_right",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e63c9fb3953f6afc",
        "type": "function",
        "z": "77a5d6919bd23113",
        "name": "",
        "func": "if(msg.payload.action == undefined)\n    return ;\n\nif (msg.payload.action.indexOf(\"_single\")>-1)\n    msg.event = \"simple\";\nelse if (msg.payload.action.indexOf(\"_double\")>-1)\n    msg.event = \"double\";\nelse if (msg.payload.action.indexOf(\"_hold\")>-1)\n    msg.event = \"hold\";\n\nif (msg.event != undefined)\n    {\n//    msg.payload = msg.action ;\n    return msg ;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "7bcd73ea10601355"
            ]
        ]
    },
    {
        "id": "7bcd73ea10601355",
        "type": "switch",
        "z": "77a5d6919bd23113",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "_1_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_2_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_3_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_4_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_5_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_6_",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 370,
        "y": 200,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "e80d332108dddf11",
        "type": "function",
        "z": "968de947dcf2fcd8",
        "name": "",
        "func": "\nvar newMsg = {};\n\nif(msg.payload.battery !== undefined)\n    { // To monitor the battery\n    newMsg.topic = \"argentan/\" + msg.topic + \"/batterie\" ;\n    newMsg.payload = msg.payload.battery;\n    node.send([null, newMsg]);\n    }\n\nif (msg.payload.device_temperature !== undefined)\n    { // To monitor the temperature\n    newMsg.topic = \"argentan/\" + msg.topic + \"/temperature\"\n    newMsg.payload = msg.payload.device_temperature;\n    node.send([null, newMsg]);\n}\n\nswitch(msg.payload.action)\n    {\n    case \"single\" :\n        msg.event = \"simple\";\n        break;\n    case \"double\" :\n        msg.event = msg.payload.action;\n        break;\n    case \"hold\":\n        msg.event = \"long\";\n        break;\n    case \"toggle\":\n        msg.event = msg.payload.action;\n        break;\n    case \"brightness_down_click\":\n        msg.event = \"less\";\n        break;\n    case \"brightness_up_click\":\n        msg.event = \"more\";\n        break;\n    case \"arrow_right_click\":\n        msg.event = \"next\";\n        break;\n    case \"arrow_left_click\":\n        msg.event = \"previous\";\n        break;\n    }\n\nif (msg.event != undefined)\n    return([msg, null]);\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [],
            [
                "bdf5201d4937ca30"
            ]
        ]
    },
    {
        "id": "bdf5201d4937ca30",
        "type": "mqtt out",
        "z": "968de947dcf2fcd8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "be0e4ff59fe48e04",
        "type": "function",
        "z": "01799b7bc5cc6cb8",
        "name": "",
        "func": "var newstate = msg.payload ;\n\nif (msg.ampoule == undefined)\n    msg.ampoule = env.get(\"ampoule\");\nif (msg.etat == undefined)\n    msg.etat = env.get(\"etat\");\nif (msg.luminosite == undefined)\n    msg.luminosite = parseInt(env.get(\"luminosite\"));\nif (msg.temperature == undefined)\n    msg.temperature = parseInt(env.get(\"temperature\"));\nif (msg.color == undefined)\n    msg.color = env.get(\"color\");\n\nmsg.payload = {} ;\n\nif (msg.luminosite != undefined && msg.luminosite!=0)\n    {// msg.payload[\"brightness\"] = 254 ; // 0 - 254\n    msg.payload[\"brightness\"] = Math.ceil( 2.54 * msg.luminosite) ;\n    }\n\nif(msg.color != \"\") // Color is prioritary on white temperature\n    { // Value is hexa #RRGGBB\n    msg.payload[\"color\"] = { \"hex\": msg.color };\n    }\nelse if (msg.temperature != undefined && msg.temperature!= 0)\n    {\n    // msg.payload[\"color_temp\"] = 370 ; // 153 - 370\n    msg.payload[\"color_temp\"] = 153 + Math.ceil(2.17 * msg.temperature);\n    }\n\nmsg.payload[\"state\"] = msg.etat;\n// msg.payload[\"transition\"] = 5;\nmsg.topic = \"zigbee2mqtt/\" + msg.ampoule + \"/set\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "e8c7240e363baa16"
            ]
        ]
    },
    {
        "id": "e8c7240e363baa16",
        "type": "mqtt out",
        "z": "01799b7bc5cc6cb8",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "1ff87cadc3ca34e8",
        "type": "function",
        "z": "00592b45cd933e7c",
        "name": "",
        "func": "var newMsg = {};\n\nif (msg.payload.battery !== undefined) { // To monitor the battery\n    newMsg.topic = \"siouville/\" + msg.topic + \"/batterie\";\n    newMsg.payload = msg.payload.battery;\n    node.send([null, null, newMsg]);\n}\n\nif (msg.payload.device_temperature !== undefined) { // To monitor the temperature\n    newMsg.topic = \"siouville/\" + msg.topic + \"/temperature\"\n    newMsg.payload = msg.payload.device_temperature;\n    node.send([null, null, newMsg]);\n}\n\nif (msg.payload.occupancy === true)\n    return ([msg, null, null]);\nreturn ([null, msg, null]);",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "398a48be6ddbc410"
            ]
        ]
    },
    {
        "id": "398a48be6ddbc410",
        "type": "mqtt out",
        "z": "00592b45cd933e7c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "cfc02862707b37bc",
        "type": "function",
        "z": "8f9c2451b9d4bd6d",
        "name": "",
        "func": "switch(msg.event)\n    {\n    case \"simple\" :\n        return([msg, null, null]);\n    case \"double\" :\n        return ([null, msg,  null]);\n    case \"long\":\n        return ([null, null, msg ]);\n    }\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "66955b86b06d5132",
        "type": "function",
        "z": "e0854c979f67781c",
        "name": "",
        "func": "if(msg.payload.action == undefined)\n    return ;\n\nif (msg.payload.action.indexOf(\"shake\") > -1)\n    msg.event = \"shake\";\nelse if (msg.payload.action.indexOf(\"tap\") > -1)\n    msg.event = \"tap\";\nelse if (msg.payload.action.indexOf(\"flip90\") > -1)\n    msg.event = \"flip90\";\nelse if (msg.payload.action.indexOf(\"flip180\") > -1)\n    msg.event = \"flip180\";\nelse if (msg.payload.action.indexOf(\"rotate_left\") > -1)\n    msg.event = \"rotate_left\";\nelse if (msg.payload.action.indexOf(\"rotate_right\") > -1)\n    msg.event = \"rotate_right\";\n\nif (msg.event != undefined)\n    {\n//    msg.payload = msg.action ;\n    return msg ;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "b5f918a04fe4f64b"
            ]
        ]
    },
    {
        "id": "b5f918a04fe4f64b",
        "type": "switch",
        "z": "e0854c979f67781c",
        "name": "",
        "property": "event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "shake",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tap",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip90",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip180",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_right",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 390,
        "y": 140,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ],
        "info": "Le sorties possibles sont :\r\n1: shake\r\n2: tap\r\n3: flip90\r\n4: flip180\r\n5: rotate_left\r\n6: rotate_right\r\n\r\n\r\n"
    },
    {
        "id": "3dd534bdc54e719a",
        "type": "function",
        "z": "d22a6164a07592ef",
        "name": "",
        "func": "switch(msg.event)\n    {\n    case \"toggle\" :\n        return ([msg, null, null, null, null]);\n    case \"less\" :\n        return ([null, msg, null, null, null]);\n    case \"more\":\n        return ([null, null, msg, null, null]);\n    case \"previous\":\n        return ([null, null, null, msg, null]);\n    case \"next\":\n        return ([null, null, null, null, msg]);\n    }\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "cc7675ccd4c2b946",
        "type": "function",
        "z": "6b9a4b0c3ebbc6a9",
        "name": "",
        "func": "return msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "112b3bd46219e9fd"
            ]
        ]
    },
    {
        "id": "112b3bd46219e9fd",
        "type": "switch",
        "z": "6b9a4b0c3ebbc6a9",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_up",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_down",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "591bd01f6bba0519",
        "type": "function",
        "z": "f29e0fc6a3b512fa",
        "name": "",
        "func": "return msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "fe15ac82b4406c25"
            ]
        ]
    },
    {
        "id": "fe15ac82b4406c25",
        "type": "switch",
        "z": "f29e0fc6a3b512fa",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_left_",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "_right_",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "cc3fde561dc968e8",
        "type": "function",
        "z": "de67962f4584028b",
        "name": "Status",
        "func": "\nvar newMsg = {} ;\nvar text = msg.payload.local_temperature + \"/\" + msg.payload.current_heating_setpoint ;\nvar shape = \"ring\" ;\nvar fill = \"green\" ;\n\nif(msg.payload.running_state == \"heat\")\n    {\n    text = text + \" (chauffe)\" ; \n    shape = \"dot\";\n    fill = \"red\";\n    }\nnewMsg.payload = ({ fill: fill, shape: shape, text: text });\nnode.send([null, newMsg]);\n\nreturn ([msg, null]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "fb8b0b960f22635f"
            ],
            []
        ]
    },
    {
        "id": "fb8b0b960f22635f",
        "type": "function",
        "z": "de67962f4584028b",
        "name": "",
        "func": "\nvar newMsg = {};\n\n\nif (msg.payload.local_temperature !== undefined)\n    { // To monitor the temperature\n    newMsg.topic = \"argentan/\" + msg.topic + \"/temperature\"\n    newMsg.payload = msg.payload.local_temperature;\n    node.send([null, newMsg]);\n}\nreturn([msg, null]);\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [],
            [
                "a860996b177a0d4f"
            ]
        ]
    },
    {
        "id": "a860996b177a0d4f",
        "type": "mqtt out",
        "z": "de67962f4584028b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7be6658fa8d1bfc9",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "a2a20837e38d5673",
        "type": "mqtt out",
        "z": "10dd252317cb822a",
        "name": "",
        "topic": "flwatchdog",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c7b5a9da06df627",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "faad990839c7a942",
        "type": "function",
        "z": "10dd252317cb822a",
        "name": "Build watchdog",
        "func": "//\n\nvar watchdog = { id : \"FerdinandBUISSON_domotique\",\n            delay : 360 , // On recoit un status toutes le 5mn normalement.\n//            sms : \"+33661776135\",\n            telegram: \"167883368\",\n    message: \"Watchdog report : FerdinandBUISSON_domotique failed.\"\n            } ;\n\nmsg.payload = watchdog ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "a2a20837e38d5673"
            ]
        ]
    },
    {
        "id": "93a9a021c4c88011",
        "type": "inject",
        "z": "10dd252317cb822a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "faad990839c7a942"
            ]
        ]
    },
    {
        "id": "a034b77be9ef6d89",
        "type": "mqtt in",
        "z": "10dd252317cb822a",
        "name": "",
        "topic": "zigbee2mqtt/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9424065c4b5f5e38",
                "356740695023144e"
            ]
        ]
    },
    {
        "id": "127866242f8a1818",
        "type": "debug",
        "z": "10dd252317cb822a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "9424065c4b5f5e38",
        "type": "function",
        "z": "10dd252317cb822a",
        "name": "Update devices' states",
        "func": "var device = msg.topic.substring(12) ;\nvar devices = global.get(\"devices\");\nif(devices === undefined)\n    {\n    devices = {} ;\n    global.set(\"devices\", devices);\n    }\n   \nvar preval = devices[device] ;\nif(preval != undefined)\n    preval[\"preval\"]=null ;\ndevices[device] = msg.payload ;\ndevices[device][\"preval\"]=preval;\ndevices[device][\"stamp\"] = Date.now() ; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fee7269ef3c48f56",
        "type": "inject",
        "z": "10dd252317cb822a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "8243a477478fd84a"
            ]
        ]
    },
    {
        "id": "8243a477478fd84a",
        "type": "function",
        "z": "10dd252317cb822a",
        "name": "Display devices' states",
        "func": "msg.payload = global.get(\"devices\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "127866242f8a1818"
            ]
        ]
    },
    {
        "id": "530e508af95089fa",
        "type": "mqtt in",
        "z": "10dd252317cb822a",
        "name": "",
        "topic": "zigbee2mqtt/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "a58b46def607af88"
            ]
        ]
    },
    {
        "id": "6cfedc5d1369dcd5",
        "type": "debug",
        "z": "10dd252317cb822a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "a58b46def607af88",
        "type": "function",
        "z": "10dd252317cb822a",
        "name": "",
        "func": "var newMsg = {} ;\nmsg.topic = msg.topic.substring(12) ;\n\nif (msg.payload.battery !== undefined) { // To monitor the battery\n    newMsg.topic = \"argentan/zigbee2mqtt/\" + msg.topic + \"/batterie\";\n    newMsg.payload = msg.payload.battery;\n    node.send([null, newMsg]);\n}\n\nif (msg.payload.device_temperature !== undefined) { \n    newMsg.topic = \"argentan/zigbee2mqtt/\" + msg.topic + \"/temperature\";\n    newMsg.payload = msg.payload.device_temperature;\n    node.send([null, newMsg]);\n}\nif (msg.payload.local_temperature !== undefined) {\n    newMsg.topic = \"argentan/zigbee2mqtt/\" + msg.topic + \"/temperature\";\n    newMsg.payload = msg.payload.local_temperature;\n    node.send([null, newMsg]);\n}\n\n\nif (msg.payload.consumption !== undefined) { \n    newMsg.topic = \"argentan/zigbee2mqtt/\" + msg.topic + \"/consumption\";\n    newMsg.payload = msg.payload.consumption;\n    node.send([null, newMsg]);\n}\n\n\nif (msg.payload.power !== undefined) {\n    newMsg.topic = \"argentan/zigbee2mqtt/\" + msg.topic + \"/power\";\n    newMsg.payload = msg.payload.power;\n    node.send([null, newMsg]);\n}\n\nreturn ([msg, null]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "6cfedc5d1369dcd5"
            ],
            [
                "dc2aa4605bfbab80"
            ]
        ]
    },
    {
        "id": "dc2aa4605bfbab80",
        "type": "mqtt out",
        "z": "10dd252317cb822a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7be6658fa8d1bfc9",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "356740695023144e",
        "type": "debug",
        "z": "10dd252317cb822a",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "cebc5d21a9712773",
        "type": "subflow:968de947dcf2fcd8",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "x": 280,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ec407612f85f92f4",
        "type": "subflow:77a5d6919bd23113",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "x": 260,
        "y": 280,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "0ab85fead2c7d7ee",
        "type": "subflow:d3deb48544895eb1",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "x": 280,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "709474f6e8347c16",
        "type": "subflow:0181e1b26c9ae404",
        "z": "f03cfb04ffe21e70",
        "name": "R002",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "2",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "TOGGLE",
                "type": "str"
            }
        ],
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "5533ba63f4f44fb8",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f03cfb04ffe21e70",
        "name": "A005",
        "env": [
            {
                "name": "ampoule",
                "value": "A005",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "TOGGLE",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "90",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "100",
                "type": "str"
            },
            {
                "name": "color",
                "value": "#FF00FF",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "670cc4ad07c67dce",
        "type": "subflow:00592b45cd933e7c",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "x": 270,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c36da1672d8b72d4",
        "type": "subflow:8f9c2451b9d4bd6d",
        "z": "f03cfb04ffe21e70",
        "name": "Type appui",
        "x": 480,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "79564ad805c1bf0b",
        "type": "inject",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "5533ba63f4f44fb8"
            ]
        ]
    },
    {
        "id": "3c65017d15795b19",
        "type": "subflow:e0854c979f67781c",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "x": 490,
        "y": 80,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "9e6e70c1b34f39d6",
        "type": "mqtt in",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "topic": "zigbee2mqtt/I002",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "106d5fb82a609f7a"
            ]
        ]
    },
    {
        "id": "106d5fb82a609f7a",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f03cfb04ffe21e70",
        "name": "A009",
        "env": [
            {
                "name": "ampoule",
                "value": "A009",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "TOGGLE",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "20",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "100",
                "type": "str"
            },
            {
                "name": "color",
                "value": "#FF0000",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "3c23219cc935ee5c",
        "type": "mqtt in",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "topic": "zigbee2mqtt/R003",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 640,
        "wires": [
            [
                "6837d236ddc16c21"
            ]
        ]
    },
    {
        "id": "6837d236ddc16c21",
        "type": "debug",
        "z": "f03cfb04ffe21e70",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "d3fbbee1551c98ef",
        "type": "mqtt in",
        "z": "f03cfb04ffe21e70",
        "name": "",
        "topic": "zigbee2mqtt/T001",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "be6b6766cb81c3c1"
            ]
        ]
    },
    {
        "id": "be6b6766cb81c3c1",
        "type": "debug",
        "z": "f03cfb04ffe21e70",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 740,
        "wires": []
    },
    {
        "id": "f2805d96e9ca3d42",
        "type": "subflow:968de947dcf2fcd8",
        "z": "469b4b2f6211fe88",
        "name": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "60a77e72c4a08cf6"
            ]
        ]
    },
    {
        "id": "32212a390c7f2ff2",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-2",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "2",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "TOGGLE",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "6d1a37df4bd9db0f",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "zigbee2mqtt/I003",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f2805d96e9ca3d42"
            ]
        ]
    },
    {
        "id": "b670deefdf9cff67",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-1",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "1",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "TOGGLE",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 660,
        "wires": []
    },
    {
        "id": "4d4e95bf9f104a42",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/toggle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "f4df2fd0f1a35a26",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/toggle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "35e461fd6374504d",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/toggle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "b670deefdf9cff67"
            ]
        ]
    },
    {
        "id": "8809fec5c1d00dfa",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 780,
        "wires": [
            [
                "0279fe2521e8a12b"
            ]
        ]
    },
    {
        "id": "60a77e72c4a08cf6",
        "type": "subflow:8f9c2451b9d4bd6d",
        "z": "469b4b2f6211fe88",
        "name": "Type appui",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "f4df2fd0f1a35a26",
                "4d4e95bf9f104a42"
            ],
            [
                "2e2a0e60c04e99b3",
                "f3f0890b16062d39"
            ],
            [
                "ffbd57e0453d4001",
                "a27a3e278e06ac34"
            ]
        ]
    },
    {
        "id": "0597887b54ea54a7",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "9a56c4f9e77be27b"
            ]
        ]
    },
    {
        "id": "ffbd57e0453d4001",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e2a0e60c04e99b3",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/off",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "f3f0890b16062d39",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/off",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "4904cdf8a25323b4",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/toggle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "32212a390c7f2ff2"
            ]
        ]
    },
    {
        "id": "d7db1ec0e5ecf2e4",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/on",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 860,
        "wires": [
            [
                "c6b7a79496a3fa74"
            ]
        ]
    },
    {
        "id": "0279fe2521e8a12b",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-2",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "2",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "OFF",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 780,
        "wires": []
    },
    {
        "id": "9a56c4f9e77be27b",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-1",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "1",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "OFF",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "c6b7a79496a3fa74",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-2",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "2",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 860,
        "wires": []
    },
    {
        "id": "2f0e6407dc3e23bc",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/on",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 820,
        "wires": [
            [
                "7a81f6728edfc106"
            ]
        ]
    },
    {
        "id": "7a81f6728edfc106",
        "type": "subflow:0181e1b26c9ae404",
        "z": "469b4b2f6211fe88",
        "name": "R002-1",
        "env": [
            {
                "name": "relais",
                "value": "R002",
                "type": "str"
            },
            {
                "name": "canal",
                "value": "1",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "fa28bf9d0bb76e40",
        "type": "subflow:00592b45cd933e7c",
        "z": "469b4b2f6211fe88",
        "name": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "4e0d9687ee9134f2"
            ],
            []
        ]
    },
    {
        "id": "5b62d083ae610c0d",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "zigbee2mqtt/P002",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "fa28bf9d0bb76e40"
            ]
        ]
    },
    {
        "id": "34f5545bfd3c23d9",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "54440a39bdd03a2b",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e0d9687ee9134f2",
        "type": "function",
        "z": "469b4b2f6211fe88",
        "name": "function 2",
        "func": "if(msg.payload.illuminance<1)\n    return([msg, null]);\nreturn([null, msg]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "34f5545bfd3c23d9",
                "54440a39bdd03a2b"
            ],
            []
        ]
    },
    {
        "id": "a177df741ab1690b",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "zigbee2mqtt/X003",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "26a0b1266a2ca2b4",
                "6e58c09919bf61fd"
            ]
        ]
    },
    {
        "id": "26a0b1266a2ca2b4",
        "type": "subflow:f29e0fc6a3b512fa",
        "z": "469b4b2f6211fe88",
        "name": "",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "580569fb82cd947c",
                "468140714999e2af"
            ],
            [
                "4d35aa433dd205c8",
                "2302bcd015178ea2"
            ],
            [
                "580569fb82cd947c",
                "2302bcd015178ea2"
            ],
            [
                "468140714999e2af",
                "4d35aa433dd205c8"
            ]
        ]
    },
    {
        "id": "580569fb82cd947c",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "468140714999e2af",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "4d35aa433dd205c8",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/jardin/off",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "2302bcd015178ea2",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/off",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "6e58c09919bf61fd",
        "type": "debug",
        "z": "469b4b2f6211fe88",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "a27a3e278e06ac34",
        "type": "mqtt out",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "argentan/veranda/salon/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cad1e8debe8e3fc",
        "type": "inject",
        "z": "469b4b2f6211fe88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "32212a390c7f2ff2"
            ]
        ]
    },
    {
        "id": "10e319a4f02ab8f1",
        "type": "inject",
        "z": "469b4b2f6211fe88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "b670deefdf9cff67"
            ]
        ]
    },
    {
        "id": "08416b7dc8ea2578",
        "type": "inject",
        "z": "469b4b2f6211fe88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "4d4e95bf9f104a42",
                "f4df2fd0f1a35a26"
            ]
        ]
    },
    {
        "id": "3fd157da3b1e5a59",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "fbuisson/veranda/allon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2c7b5a9da06df627",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "ffbd57e0453d4001",
                "a27a3e278e06ac34"
            ]
        ]
    },
    {
        "id": "6ec3800f379b606f",
        "type": "mqtt in",
        "z": "469b4b2f6211fe88",
        "name": "",
        "topic": "fbuisson/veranda/alloff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2c7b5a9da06df627",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "2e2a0e60c04e99b3",
                "f3f0890b16062d39"
            ]
        ]
    },
    {
        "id": "185fe88d6cc25271",
        "type": "inject",
        "z": "469b4b2f6211fe88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 940,
        "wires": [
            [
                "9a56c4f9e77be27b",
                "0279fe2521e8a12b"
            ]
        ]
    },
    {
        "id": "cd0bf6d0cee2c30a",
        "type": "subflow:968de947dcf2fcd8",
        "z": "2f76b69f4fde1323",
        "name": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "c5b692df0b2cecfe"
            ]
        ]
    },
    {
        "id": "43eab303d69aaecb",
        "type": "mqtt in",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "zigbee2mqtt/I004",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "cd0bf6d0cee2c30a"
            ]
        ]
    },
    {
        "id": "c5b692df0b2cecfe",
        "type": "subflow:8f9c2451b9d4bd6d",
        "z": "2f76b69f4fde1323",
        "name": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "bc7a302bf4fe189d"
            ],
            [
                "5734bcdf27688e0a"
            ],
            []
        ]
    },
    {
        "id": "bc7a302bf4fe189d",
        "type": "mqtt out",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "argentan/chambreparents/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "5734bcdf27688e0a",
        "type": "mqtt out",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "argentan/chambreparents/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "47205680e182ea61",
        "type": "mqtt in",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "argentan/chambreparents/on",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "5e77857d1472f760",
                "0f94839e24f3a0d9"
            ]
        ]
    },
    {
        "id": "1ad82a2c02b72ff9",
        "type": "mqtt in",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "zigbee2mqtt/I005",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "cd0bf6d0cee2c30a"
            ]
        ]
    },
    {
        "id": "baa68a80d9f2aaf9",
        "type": "mqtt in",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "argentan/chambreparents/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "fe25075a87434a80",
                "b7b0159025077b1f"
            ]
        ]
    },
    {
        "id": "5e77857d1472f760",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A007",
        "env": [
            {
                "name": "ampoule",
                "value": "A007",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "100",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "0f94839e24f3a0d9",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A006",
        "env": [
            {
                "name": "ampoule",
                "value": "A006",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "100",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 560,
        "wires": []
    },
    {
        "id": "fe25075a87434a80",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A007",
        "env": [
            {
                "name": "ampoule",
                "value": "A007",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "OFF",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "b7b0159025077b1f",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A006",
        "env": [
            {
                "name": "ampoule",
                "value": "A006",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "OFF",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "2bb13e943716d59f",
        "type": "mqtt in",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "zigbee2mqtt/C001",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "a4dde9b4ce808ba8"
            ]
        ]
    },
    {
        "id": "a4dde9b4ce808ba8",
        "type": "subflow:e0854c979f67781c",
        "z": "2f76b69f4fde1323",
        "name": "",
        "x": 310,
        "y": 200,
        "wires": [
            [],
            [],
            [],
            [
                "eecd3822316eeabf"
            ],
            [
                "6c413e1fa1332657"
            ],
            [
                "6c413e1fa1332657"
            ]
        ],
        "info": "Les sorties possibles sont :\r\n1: shake\r\n2: tap\r\n3: flip90\r\n4: flip180\r\n5: rotate_left\r\n6: rotate_right\r\n"
    },
    {
        "id": "eecd3822316eeabf",
        "type": "mqtt out",
        "z": "2f76b69f4fde1323",
        "name": "",
        "topic": "argentan/chambreparents/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "57c4da0675c73126",
        "type": "inject",
        "z": "2f76b69f4fde1323",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "bc7a302bf4fe189d"
            ]
        ]
    },
    {
        "id": "6c413e1fa1332657",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A006 faible",
        "env": [
            {
                "name": "ampoule",
                "value": "A006",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "10",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "63d1bab4eb78a86f",
        "type": "inject",
        "z": "2f76b69f4fde1323",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "45 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "6c413e1fa1332657"
            ]
        ]
    },
    {
        "id": "849d15d2184ae4aa",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "2f76b69f4fde1323",
        "name": "A007faible",
        "env": [
            {
                "name": "ampoule",
                "value": "A007",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "30",
                "type": "str"
            },
            {
                "name": "temperature",
                "value": "80",
                "type": "str"
            }
        ],
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "84b498882249f759",
        "type": "inject",
        "z": "2f76b69f4fde1323",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "849d15d2184ae4aa"
            ]
        ]
    },
    {
        "id": "88d6ef3801bf2c2a",
        "type": "inject",
        "z": "2f76b69f4fde1323",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "eecd3822316eeabf"
            ]
        ]
    },
    {
        "id": "9737a04251313c3f",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A003",
        "env": [
            {
                "name": "ampoule",
                "value": "A003",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "100",
                "type": "str"
            },
            {
                "name": "color",
                "value": "#DD69DD",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "f4f147e19ac1e885",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A004",
        "env": [
            {
                "name": "ampoule",
                "value": "A004",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "100",
                "type": "str"
            },
            {
                "name": "color",
                "value": "#DD69DD",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "ca8d3c9015d020f6",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A005",
        "env": [
            {
                "name": "ampoule",
                "value": "A005",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            },
            {
                "name": "luminosite",
                "value": "100",
                "type": "str"
            },
            {
                "name": "color",
                "value": "#DD69DD",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "41e49d6ea246f40f",
        "type": "inject",
        "z": "f478c30160855d4f",
        "name": "",
        "props": [
            {
                "p": "color",
                "v": "#DD69DD",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "83daf4e89d62be52"
            ]
        ]
    },
    {
        "id": "cf67f043c7a90703",
        "type": "inject",
        "z": "f478c30160855d4f",
        "name": "",
        "props": [
            {
                "p": "color",
                "v": "#DD6900",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "83daf4e89d62be52"
            ]
        ]
    },
    {
        "id": "83daf4e89d62be52",
        "type": "function",
        "z": "f478c30160855d4f",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "9737a04251313c3f",
                "f4f147e19ac1e885",
                "ca8d3c9015d020f6"
            ]
        ]
    },
    {
        "id": "45f47dfde6e0be46",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A003",
        "env": [
            {
                "name": "ampoule",
                "value": "A003",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "023ad79056098d22",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A004",
        "env": [
            {
                "name": "ampoule",
                "value": "A004",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "0c641f2c18cb4678",
        "type": "subflow:01799b7bc5cc6cb8",
        "z": "f478c30160855d4f",
        "name": "A005",
        "env": [
            {
                "name": "ampoule",
                "value": "A005",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "8001417f65f0d7bb",
        "type": "mqtt in",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "argentan/atelier/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "9c0decd82922d363"
            ]
        ]
    },
    {
        "id": "9c0decd82922d363",
        "type": "function",
        "z": "f478c30160855d4f",
        "name": "OFF",
        "func": "msg.etat = \"OFF\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "45f47dfde6e0be46",
                "023ad79056098d22",
                "0c641f2c18cb4678"
            ]
        ]
    },
    {
        "id": "ee72a829bdddc1a4",
        "type": "mqtt in",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "zigbee2mqtt/X001",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "40371d37b2c317a7"
            ]
        ]
    },
    {
        "id": "109511a3022eb464",
        "type": "mqtt in",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "argentan/atelier/toggle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "71533806baf44ebd"
            ]
        ]
    },
    {
        "id": "71533806baf44ebd",
        "type": "function",
        "z": "f478c30160855d4f",
        "name": "TOGGLE",
        "func": "msg.etat = \"TOGGLE\" ;\nmsg.luminosite = 100 ; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "45f47dfde6e0be46",
                "023ad79056098d22",
                "0c641f2c18cb4678"
            ]
        ]
    },
    {
        "id": "49f31c23d96be7b9",
        "type": "mqtt in",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "argentan/atelier/on",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "b061ddb8410a81fe"
            ]
        ]
    },
    {
        "id": "b061ddb8410a81fe",
        "type": "function",
        "z": "f478c30160855d4f",
        "name": "ON",
        "func": "msg.etat = \"ON\" ;\nmsg.luminosite = 100; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "45f47dfde6e0be46",
                "023ad79056098d22",
                "0c641f2c18cb4678"
            ]
        ]
    },
    {
        "id": "40371d37b2c317a7",
        "type": "subflow:968de947dcf2fcd8",
        "z": "f478c30160855d4f",
        "name": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "fef9be841f136a55"
            ]
        ]
    },
    {
        "id": "fef9be841f136a55",
        "type": "subflow:d22a6164a07592ef",
        "z": "f478c30160855d4f",
        "name": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "1d0e9b12f78fa284"
            ],
            [
                "9c0decd82922d363"
            ],
            [
                "b061ddb8410a81fe"
            ],
            [
                "f2fe90453861bb2e"
            ],
            [
                "ee0fa440f069be3d",
                "f2fe90453861bb2e"
            ]
        ]
    },
    {
        "id": "1d0e9b12f78fa284",
        "type": "mqtt out",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "argentan/atelier/toggle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b2693dd2bbf878f",
        "type": "inject",
        "z": "f478c30160855d4f",
        "name": "",
        "props": [
            {
                "p": "color",
                "v": "#DD6900",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "9c0decd82922d363"
            ]
        ]
    },
    {
        "id": "f2fe90453861bb2e",
        "type": "debug",
        "z": "f478c30160855d4f",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "ee0fa440f069be3d",
        "type": "mqtt out",
        "z": "f478c30160855d4f",
        "name": "",
        "topic": "radio/stop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "4963be5.b45044",
        "type": "mqtt in",
        "z": "2537c1c5.0f952e",
        "name": "",
        "topic": "gw/588E81FFFE72CDAC/heartbeat",
        "qos": "2",
        "datatype": "auto",
        "broker": "2be25b20.752014",
        "inputs": 0,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "984b561b.7b2b78",
                "db53c55d.fda7c8"
            ]
        ]
    },
    {
        "id": "a91a0861.c1bce8",
        "type": "mqtt in",
        "z": "2537c1c5.0f952e",
        "name": "",
        "topic": "zigbee/recv",
        "qos": "2",
        "datatype": "auto",
        "broker": "2be25b20.752014",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "953810db.72124",
                "b7b0f845.d1b8b8"
            ]
        ]
    },
    {
        "id": "953810db.72124",
        "type": "debug",
        "z": "2537c1c5.0f952e",
        "name": "ZIGBEE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "984b561b.7b2b78",
        "type": "debug",
        "z": "2537c1c5.0f952e",
        "name": "GATEWAY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "9c441490.ef5ce8",
        "type": "mqtt in",
        "z": "2537c1c5.0f952e",
        "name": "",
        "topic": "gw/588E81FFFE72CDAC/MessageReceived",
        "qos": "2",
        "datatype": "auto",
        "broker": "2be25b20.752014",
        "inputs": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "984b561b.7b2b78",
                "db53c55d.fda7c8"
            ]
        ]
    },
    {
        "id": "c413da38.4effc8",
        "type": "mqtt in",
        "z": "2537c1c5.0f952e",
        "name": "",
        "topic": "zigbee/send",
        "qos": "2",
        "datatype": "auto",
        "broker": "2be25b20.752014",
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "953810db.72124",
                "b7b0f845.d1b8b8",
                "36949d6b.52cfd2"
            ]
        ]
    },
    {
        "id": "b7b0f845.d1b8b8",
        "type": "json",
        "z": "2537c1c5.0f952e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "ea74c2b7.f14a6"
            ]
        ]
    },
    {
        "id": "db53c55d.fda7c8",
        "type": "file",
        "z": "2537c1c5.0f952e",
        "name": "Gateway Data",
        "filename": "/share/gateway.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6b116c6b.d46c34",
        "type": "mqtt out",
        "z": "2537c1c5.0f952e",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1330,
        "y": 240,
        "wires": []
    },
    {
        "id": "3f33698a.495996",
        "type": "change",
        "z": "2537c1c5.0f952e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prefix",
                "pt": "msg",
                "to": "\"Mijia/\" & msg.payload.did",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.cmd",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.id",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.time",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.dev_src",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.mi_spec",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.params",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.did",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "f4b9d80b.407cb8",
                "444b60dd.67688"
            ]
        ]
    },
    {
        "id": "f4b9d80b.407cb8",
        "type": "debug",
        "z": "2537c1c5.0f952e",
        "name": "MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$sift(function($v, $k) {$k ~> /^prefix|payload/})",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "5541829.511fb7c",
        "type": "function",
        "z": "2537c1c5.0f952e",
        "name": "",
        "func": "// illuminatino sensors\nif (msg.payload.mi_spec) {\n    if (msg.payload.mi_spec[0].siid == 2) {\n        msg.payload.illuminance = msg.payload.mi_spec[0].value;\n    }\n    if (msg.payload.mi_spec[0].siid == 3) {\n        msg.payload.voltage = msg.payload.mi_spec[0].value;\n    }\n    // calculate battery state from voltage (guess)\n    if (msg.payload.voltage) {\n        var voltage = msg.payload.voltage;\n        \n        msg.payload.battery = 6.25 * voltage - 2581.25 ;\n    }\n}\n\n//sensor_ht report and heartbeat\nif (msg.payload.params) {\n    if(msg.payload.params[0].res_list) {\n        msg.payload.did = msg.payload.params[0].did;\n        if (msg.payload.params[0].res_list[9].res_name == \"0.1.85\") {\n            msg.payload.temperature = msg.payload.params[0].res_list[9].value / 100;\n        }\n        if (msg.payload.params[0].res_list[10].res_name == \"0.2.85\") {\n            msg.payload.humidity = msg.payload.params[0].res_list[10].value / 100;\n        }\n        if (msg.payload.params[0].res_list[0].res_name == \"8.0.2008\") {\n            msg.payload.voltage = msg.payload.params[0].res_list[0].value;\n        }        \n    } else {\n        if (msg.payload.params[0].res_name == \"0.1.85\") {\n            msg.payload.temperature = msg.payload.params[0].value / 100;\n        }\n        if (msg.payload.params[0].res_name == \"0.2.85\") {\n            msg.payload.humidity = msg.payload.params[0].value / 100;\n        }\n        if (msg.payload.params[0].res_name == \"8.0.2008\") {\n           msg.payload.voltage = msg.payload.params[0].value;\n        }\n    }\n    // calculate battery state from voltage (guess)\n    if (msg.payload.voltage) {\n        var voltage = msg.payload.voltage;\n        var percentage = 0;\n            \n        if (voltage < 2100) {\n            percentage = 0;\n        } else if (voltage < 2440) {\n            percentage = 6 - ((2440 - voltage) * 6) / 340;\n        } else if (voltage < 2740) {\n            percentage = 18 - ((2740 - voltage) * 12) / 300;\n        } else if (voltage < 2900) {\n            percentage = 42 - ((2900 - voltage) * 24) / 160;\n        } else if (voltage < 3000) {\n            percentage = 100 - ((3000 - voltage) * 58) / 100;\n        } else if (voltage >= 3000) {\n            percentage = 100;\n        }\n        msg.payload.battery = percentage;\n    }\n}\n\n\nmsg.payload.signal = Math.round(150 - (5/3) * Math.abs(msg.payload.rssi));\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "3f33698a.495996"
            ]
        ]
    },
    {
        "id": "444b60dd.67688",
        "type": "split",
        "z": "2537c1c5.0f952e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "a6654668.e8c6f8"
            ]
        ]
    },
    {
        "id": "2fe3d3b3.ef960c",
        "type": "debug",
        "z": "2537c1c5.0f952e",
        "name": "SPLIT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "9acd5065.674a1",
        "type": "inject",
        "z": "2537c1c5.0f952e",
        "name": "Report",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "zigbee/send",
        "payload": "{\"cmd\":\"report\",\"id\":2000001821,\"did\":\"lumi.test\",\"dev_src\":\"0\",\"time\":1594541536692,\"rssi\":-56,\"params\":[{\"res_name\":\"0.1.85\",\"value\":9999}]}",
        "payloadType": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "b7b0f845.d1b8b8"
            ]
        ]
    },
    {
        "id": "a6654668.e8c6f8",
        "type": "change",
        "z": "2537c1c5.0f952e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": " msg.prefix & \"/\" & msg.topic",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "prefix",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "2fe3d3b3.ef960c",
                "6b116c6b.d46c34"
            ]
        ]
    },
    {
        "id": "36949d6b.52cfd2",
        "type": "file",
        "z": "2537c1c5.0f952e",
        "name": "Zigbee",
        "filename": "/share/zigbee.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6bf83599.41022c",
        "type": "inject",
        "z": "2537c1c5.0f952e",
        "name": "Heartbeat",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "zigbee/send",
        "payload": "{\"cmd\":\"heartbeat\",\"id\":2000002481,\"time\":1594556196531,\"rssi\":-55,\"params\":[{\"did\":\"lumi.test\",\"time\":1594556196531,\"res_list\":[{\"res_name\":\"8.0.2008\",\"value\":2965},{\"res_name\":\"8.0.2011\",\"value\":1},{\"res_name\":\"8.0.2010\",\"value\":3},{\"res_name\":\"8.0.2012\",\"value\":10},{\"res_name\":\"8.0.2013\",\"value\":1},{\"res_name\":\"8.0.2002\",\"value\":8},{\"res_name\":\"8.0.2003\",\"value\":1},{\"res_name\":\"8.0.2004\",\"value\":0},{\"res_name\":\"8.0.2005\",\"value\":0},{\"res_name\":\"0.1.85\",\"value\":2442},{\"res_name\":\"0.2.85\",\"value\":4444},{\"res_name\":\"8.0.2036\",\"value\":0}]}]}",
        "payloadType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "b7b0f845.d1b8b8"
            ]
        ]
    },
    {
        "id": "74a3758b.97280c",
        "type": "inject",
        "z": "2537c1c5.0f952e",
        "name": "Sen_Ill",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "zigbee/send",
        "payload": "{\"cmd\":\"report\",\"id\":2000002282,\"did\":\"lumi.test\",\"dev_src\":\"0\",\"time\":1594554551272,\"rssi\":-67,\"mi_spec\":[{\"siid\":2,\"piid\":1,\"value\":8888}]}",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "b7b0f845.d1b8b8"
            ]
        ]
    },
    {
        "id": "ea74c2b7.f14a6",
        "type": "moment",
        "z": "2537c1c5.0f952e",
        "name": "Time FMT",
        "topic": "",
        "input": "payload.time",
        "inputType": "msg",
        "inTz": "Europe/Amsterdam",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "C",
        "output": "payload.date",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "5541829.511fb7c"
            ]
        ]
    },
    {
        "id": "71d34ef1.1c242",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.tunein",
        "state": "s2442",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "8a99af40fc6afb11"
            ]
        ]
    },
    {
        "id": "a2c2b3bd.e1b71",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 730,
        "y": 660,
        "wires": [
            [
                "9c0a7e9e.9bca6"
            ]
        ]
    },
    {
        "id": "9c0a7e9e.9bca6",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.queue",
        "state": "",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 896,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "2fb9a1fd.68737e",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "37f90c94.f24384"
            ]
        ]
    },
    {
        "id": "37f90c94.f24384",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.create.group",
        "state": "SonosKueche,SonosWohnzimmer,SonosBad",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 318.5,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a4203acd.9aa738",
        "type": "comment",
        "z": "9e6027c8096e7614",
        "name": "Play the SONOS queue - must not be empty - read me",
        "info": "# Play the SONOS queue\n\n## Customizing\n- edit `group.play.queue `and select your configuration node.\n\nEnsure that the queue is filled with songs. You can to that either with this package or with the SONOS app.",
        "x": 880,
        "y": 600,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "d013ff60.44585",
        "type": "comment",
        "z": "9e6027c8096e7614",
        "name": "Create a group with 3 Sonos-Player - read me",
        "info": "# Create a group with 3 Sonos-Player\nFirst player is coordinator.\n\n## Customizing\n- edit `household.create.group`\n    - select any configuration nodee\n    - edit payload and enter Sonos-Playernams (not the config node names), seperated by comma but without any blank\n\n",
        "x": 250,
        "y": 620,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "9332b5ce.6f61d8",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "ecf7c75f.c060b8"
            ]
        ]
    },
    {
        "id": "ecf7c75f.c060b8",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.get.groups",
        "state": "",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 306,
        "y": 800,
        "wires": [
            [
                "ddbaa9b2.3788b8"
            ]
        ]
    },
    {
        "id": "a98e0bd0.e64db8",
        "type": "comment",
        "z": "9e6027c8096e7614",
        "name": "Test - all players detected - read me",
        "info": "# Test - all players detected\n\n## Use case\ncheck your installation and verify that all players are online.\n\n## Customizing\n- edit `household.get.groups`and select your configuration node.",
        "x": 220,
        "y": 751,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "ddbaa9b2.3788b8",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 502,
        "y": 800,
        "wires": []
    },
    {
        "id": "bd45739.842a39",
        "type": "comment",
        "z": "9e6027c8096e7614",
        "name": "Test - what is currently playing - read me",
        "info": "# Test - what is currently playing\n\n## Use case\nGet information what is currently playing\n\n## Customizing\n - edit `household.get.trackplus`and select your configuration node.",
        "x": 240,
        "y": 480,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "ee9dd47a.6d2d08",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 528,
        "wires": [
            [
                "3cf7e92f.54c756"
            ]
        ]
    },
    {
        "id": "3cf7e92f.54c756",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.get.trackplus",
        "state": "",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 298.5,
        "y": 528,
        "wires": [
            [
                "c708c82a.fe2fb8"
            ]
        ]
    },
    {
        "id": "c708c82a.fe2fb8",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 487,
        "y": 528,
        "wires": []
    },
    {
        "id": "acd8d32553286a50",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 730,
        "y": 800,
        "wires": [
            [
                "dbc0d72e5cfef842"
            ]
        ]
    },
    {
        "id": "dbc0d72e5cfef842",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.library.artist",
        "state": "Beatles",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 912,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7bc75035f27ceafb",
        "type": "comment",
        "z": "9e6027c8096e7614",
        "name": "Play Beatles from your Music library - read me",
        "info": "# Play Beatles from your Music library\n\n## Customizing \n- in `household.create.group`\n    - select your configuration node.\n    - edit payload and enter the name of a beatles album on your music library\n \n\n",
        "x": 850,
        "y": 732,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "82e09b4c13c8a849",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.adjust.volume",
        "state": "10",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 742.5,
        "y": 160,
        "wires": [
            [
                "a6c1c1826d2758cb"
            ]
        ]
    },
    {
        "id": "a6c1c1826d2758cb",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 924,
        "y": 160,
        "wires": []
    },
    {
        "id": "98e2bc711c2ebe6d",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.adjust.volume",
        "state": "-10",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 742.5,
        "y": 220,
        "wires": [
            [
                "52ed83b965aeb76f"
            ]
        ]
    },
    {
        "id": "52ed83b965aeb76f",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 924,
        "y": 220,
        "wires": []
    },
    {
        "id": "322fd2fe67eda753",
        "type": "mqtt in",
        "z": "9e6027c8096e7614",
        "name": "",
        "topic": "zigbee2mqtt/X002",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b25bdb857e0bb01b",
                "724ffb4946663310"
            ]
        ]
    },
    {
        "id": "b25bdb857e0bb01b",
        "type": "subflow:6b9a4b0c3ebbc6a9",
        "z": "9e6027c8096e7614",
        "name": "",
        "x": 374,
        "y": 160,
        "wires": [
            [
                "71d34ef1.1c242"
            ],
            [
                "82e09b4c13c8a849"
            ],
            [
                "98e2bc711c2ebe6d"
            ]
        ]
    },
    {
        "id": "8a99af40fc6afb11",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "55979668830dc38b",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "82e09b4c13c8a849"
            ]
        ]
    },
    {
        "id": "2cea0c36020111c5",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "98e2bc711c2ebe6d"
            ]
        ]
    },
    {
        "id": "d6c343059672939e",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "71d34ef1.1c242"
            ]
        ]
    },
    {
        "id": "5ecc46d2ce02aaea",
        "type": "sonos-universal",
        "z": "9e6027c8096e7614",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.stop",
        "state": "",
        "stateType": "str",
        "avoidCheckPlayerAvailability": false,
        "name": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "b8b92ad547f1df2c"
            ]
        ]
    },
    {
        "id": "b8b92ad547f1df2c",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "92b989dcae62bdf8",
        "type": "inject",
        "z": "9e6027c8096e7614",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "5ecc46d2ce02aaea"
            ]
        ]
    },
    {
        "id": "96d35ccaf40ffa02",
        "type": "mqtt in",
        "z": "9e6027c8096e7614",
        "name": "",
        "topic": "radio/stop",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "5ecc46d2ce02aaea"
            ]
        ]
    },
    {
        "id": "724ffb4946663310",
        "type": "debug",
        "z": "9e6027c8096e7614",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "d367646d3737e415",
        "type": "mqtt in",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T001",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "97b1f53d4bab5860"
            ]
        ]
    },
    {
        "id": "0d4c50f3081d9450",
        "type": "mqtt in",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T002",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "23f004d60ab78208"
            ]
        ]
    },
    {
        "id": "12ebf4eb7ac2d538",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "97523104f5417610"
            ]
        ]
    },
    {
        "id": "97523104f5417610",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T002/set/local_temperature_calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "b622f14a7084ef9d",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 970,
        "y": 100,
        "wires": [
            [
                "17305222ad22a169"
            ]
        ]
    },
    {
        "id": "17305222ad22a169",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T001/set/local_temperature_calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "1fca62fe8f730679",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 970,
        "y": 180,
        "wires": [
            [
                "a5ee6cf4924b3115"
            ]
        ]
    },
    {
        "id": "a5ee6cf4924b3115",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T003/set/local_temperature_calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "13a42c914ef17660",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 970,
        "y": 220,
        "wires": [
            [
                "a1ba84efea1d5e67"
            ]
        ]
    },
    {
        "id": "a1ba84efea1d5e67",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T004/set/local_temperature_calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1250,
        "y": 220,
        "wires": []
    },
    {
        "id": "100853bdad3a323c",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 970,
        "y": 260,
        "wires": [
            [
                "9d557f4c606dbf17"
            ]
        ]
    },
    {
        "id": "9d557f4c606dbf17",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T005/set/local_temperature_calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "b3b1b1e99cb58715",
        "type": "mqtt in",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T003",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "efa3a5b87cc19ac7"
            ]
        ]
    },
    {
        "id": "0968983d1d053ff4",
        "type": "mqtt in",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T004",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "b308f5302f577db9"
            ]
        ]
    },
    {
        "id": "c1d68a14d63d0c43",
        "type": "mqtt in",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "topic": "zigbee2mqtt/T005",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a09adc9be152f8a6"
            ]
        ]
    },
    {
        "id": "c1a61ebdcc7a9997",
        "type": "debug",
        "z": "a8ecb6268d2f7168",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "f435b885b47e63e2",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "name": "Bureau",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "bd2d1f9c515d5d97",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "6336747698e9cb1b",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "name": "Parents",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d9e194f3599ba6b",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "name": "Suzette",
        "info": "",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "489987188d4cafba",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "info": "",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "4f2404fa034cc33e",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "4db7628c7a8c0ec6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "f76d75b0b619d9e3"
            ]
        ]
    },
    {
        "id": "f76d75b0b619d9e3",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "g": "4db7628c7a8c0ec6",
        "name": "",
        "topic": "zigbee2mqtt/T001/set/current_heating_setpoint",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "133b52072840c63a",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "4db7628c7a8c0ec6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "f76d75b0b619d9e3"
            ]
        ]
    },
    {
        "id": "129c994498727a2a",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "4db7628c7a8c0ec6",
        "name": "20:00",
        "info": "",
        "x": 110,
        "y": 420,
        "wires": []
    },
    {
        "id": "b7f3ca28a2665f2d",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "4db7628c7a8c0ec6",
        "name": "01:00",
        "info": "",
        "x": 110,
        "y": 460,
        "wires": []
    },
    {
        "id": "6f7fcf3d3237b036",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "94e1925673e10846"
            ]
        ]
    },
    {
        "id": "94e1925673e10846",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "",
        "topic": "zigbee2mqtt/T003/set/current_heating_setpoint",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "75c23621b7cf3f82",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "94e1925673e10846"
            ]
        ]
    },
    {
        "id": "71419739f6c965b5",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "22:00",
        "info": "",
        "x": 110,
        "y": 560,
        "wires": []
    },
    {
        "id": "c0cbaf35a3ff8041",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "01:00",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "9084d351d74cfb09",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "94e1925673e10846"
            ]
        ]
    },
    {
        "id": "2d83fb21b49de743",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "404fea4ede43d1dd",
        "name": "08:00",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "97b1f53d4bab5860",
        "type": "subflow:de67962f4584028b",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "c1a61ebdcc7a9997"
            ]
        ]
    },
    {
        "id": "23f004d60ab78208",
        "type": "subflow:de67962f4584028b",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "c1a61ebdcc7a9997"
            ]
        ]
    },
    {
        "id": "efa3a5b87cc19ac7",
        "type": "subflow:de67962f4584028b",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "c1a61ebdcc7a9997"
            ]
        ]
    },
    {
        "id": "b308f5302f577db9",
        "type": "subflow:de67962f4584028b",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "c1a61ebdcc7a9997"
            ]
        ]
    },
    {
        "id": "a09adc9be152f8a6",
        "type": "subflow:de67962f4584028b",
        "z": "a8ecb6268d2f7168",
        "name": "",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "c1a61ebdcc7a9997"
            ]
        ]
    },
    {
        "id": "b5e73886628085ac",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "e8a19bba8d5a5303",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "a417cf32bbeb7fa7"
            ]
        ]
    },
    {
        "id": "a417cf32bbeb7fa7",
        "type": "mqtt out",
        "z": "a8ecb6268d2f7168",
        "g": "e8a19bba8d5a5303",
        "name": "",
        "topic": "zigbee2mqtt/T004/set/current_heating_setpoint",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43acfe3a9b9177ba",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "0febcd0f5b1df4fd",
        "type": "inject",
        "z": "a8ecb6268d2f7168",
        "g": "e8a19bba8d5a5303",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "a417cf32bbeb7fa7"
            ]
        ]
    },
    {
        "id": "41114b7575c6017d",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "e8a19bba8d5a5303",
        "name": "20:00",
        "info": "",
        "x": 110,
        "y": 760,
        "wires": []
    },
    {
        "id": "5b44e57fada2b577",
        "type": "comment",
        "z": "a8ecb6268d2f7168",
        "g": "e8a19bba8d5a5303",
        "name": "01:00",
        "info": "",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "10275f1d6c3947c4",
        "type": "csv",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 570,
        "y": 640,
        "wires": [
            [
                "837f1ea9eae4382b"
            ]
        ]
    },
    {
        "id": "4a0b801c510ba396",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "19 deg",
        "props": [
            {
                "p": "payload.temperature",
                "v": "19",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "91d814ce69cc5315"
            ]
        ]
    },
    {
        "id": "97070fda636b8653",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "e6c8f18d56b2864f",
        "type": "csv",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "4a44696c6eb39929"
            ]
        ]
    },
    {
        "id": "9bc014838d796a4f",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "40e2990364bc5b3c"
            ]
        ]
    },
    {
        "id": "4a44696c6eb39929",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 4",
        "func": "msg.thermostat.agenda = msg.payload ;\nglobal.set(\"THERMOSTAT\", msg.thermostat);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "76fad196442507b2",
                "bf5ea98da89d4d68"
            ]
        ]
    },
    {
        "id": "76fad196442507b2",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "837f1ea9eae4382b",
        "type": "file",
        "z": "e2267bfe72c3e79d",
        "name": "Hot",
        "filename": "thermostat.hot_file",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "97070fda636b8653",
                "0b8647b45aaa99c5"
            ]
        ]
    },
    {
        "id": "f5680a45be8380e5",
        "type": "file in",
        "z": "e2267bfe72c3e79d",
        "name": "Agenda",
        "filename": "thermostat.agenda_file",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "e6c8f18d56b2864f"
            ]
        ]
    },
    {
        "id": "981dc542ac3f905c",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "Globals",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "3b5d72ad7fa1b2b1"
            ]
        ]
    },
    {
        "id": "3b5d72ad7fa1b2b1",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 5",
        "func": "msg.thermostat = {\n    agenda_file: \"/data/thermo_agenda.csv\",\n    hot_file: \"/data/thermo_hot.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de chauffe. A quelle vitesse ça chauffe ?\n    cold_file: \"/data/thermo_cold.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de non-chauffe. A quelle vitesse ça refroidit ?\n    unknown_value: 999,\n    session : {\n        last_in_temp : 999,\n        last_in_update: 0,\n        last_ex_temp: 3,\n        last_ex_update: new Date(),\n        last_heating_state : 999\n    }\n} ;\nglobal.set(\"THERMOSTAT\", msg.thermostat);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "9b64fbb4cba85368",
                "f5680a45be8380e5"
            ]
        ]
    },
    {
        "id": "40e2990364bc5b3c",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 6",
        "func": "var thermostat = global.get(\"THERMOSTAT\") ;\nmsg.thermostat = thermostat ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f5680a45be8380e5"
            ]
        ]
    },
    {
        "id": "9b64fbb4cba85368",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd9bb41e87aa2a34",
        "type": "csv",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "ba5d344064e76a3c"
            ]
        ]
    },
    {
        "id": "776c1c2d71c9f2d9",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "a15e5584da0a76c1"
            ]
        ]
    },
    {
        "id": "ba5d344064e76a3c",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 7",
        "func": "msg.thermostat.hot = msg.payload;\nglobal.set(\"THERMOSTAT\", msg.thermostat);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 220,
        "wires": [
            [
                "a853cbd3c840c684",
                "c02c15a4d8791ebc"
            ]
        ]
    },
    {
        "id": "a853cbd3c840c684",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "bf5ea98da89d4d68",
        "type": "file in",
        "z": "e2267bfe72c3e79d",
        "name": "Hot",
        "filename": "thermostat.hot_file",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "cd9bb41e87aa2a34"
            ]
        ]
    },
    {
        "id": "a15e5584da0a76c1",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 8",
        "func": "var thermostat = global.get(\"THERMOSTAT\") ;\nmsg.thermostat = thermostat ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "bf5ea98da89d4d68"
            ]
        ]
    },
    {
        "id": "b8583d1aa54a3f4e",
        "type": "mqtt in",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "topic": "zigbee2mqtt/X010",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "91d814ce69cc5315"
            ]
        ]
    },
    {
        "id": "da5fb57e3a1084de",
        "type": "mqtt out",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "topic": "franck/cause",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c7b5a9da06df627",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "98847a84ca6936c8",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "thermostat",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "0daede1820160340",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "b87ac6e7eb8c44d8"
            ]
        ]
    },
    {
        "id": "b87ac6e7eb8c44d8",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "Show thermostat",
        "func": "var thermostat = global.get(\"THERMOSTAT\") ;\nmsg.thermostat = thermostat ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "98847a84ca6936c8"
            ]
        ]
    },
    {
        "id": "91d814ce69cc5315",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 9",
        "func": "/*\n\nmsg.thermostat = {\n    agenda_file: \"/data/thermo_agenda.csv\",\n    hot_file: \"/data/thermo_hot.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de chauffe. A quelle vitesse ça chauffe ?\n    cold_file: \"/data/thermo_cold.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de non-chauffe. A quelle vitesse ça refroidit ?\n    unknown_value: 999,\n    session : {\n        last_in_temp : 999,\n        last_in_update: 0,\n        last_ex_temp: 3,\n        last_ex_update: new Date(),\n        last_heating_state : 999\n    },\n    agenda,\n    hot,\n    cold\n} ;\n\n*/\nvar i=0 ;\nvar thermostat = global.get(\"THERMOSTAT\");\nmsg.thermostat = thermostat;\n\n\n/*\nQuand on reçoit une nouvelle température :\n   1- On regarde si cela motive une nouvelle valeur d'inertie. Il faut pour cela que xxxxx\n   2- On regarde si il faut allumer ou éteindre le chauffage\n*/\nconst temperature = msg.payload.temperature ;\n// Crée un objet Date qui représente la date et l'heure actuelles\nconst maintenant = new Date();\nvar jourSemaine = maintenant.getDay();  // Numéro du jour (de la semaine)  0=dimanche\njourSemaine -= 1; // Rétablir 0 = lundi\nif (jourSemaine == -1) jourSemaine = 6;\nconst heure = maintenant.getHours();      // ex: 14 (pour 14h)\nconst minute = maintenant.getMinutes();   // ex: 37\n\n// Recherche de la cellule à modifier\nvar tableau ;\nvar in_temp_idx=-1 ;\nvar ex_temp_att= \"\";\n\nif(msg.thermostat.session.last_heating_state ==1)\n   { // Ca chauffe\n   tableau = msg.thermostat.hot ;\n   }\nelse\n   { // Ca ne chauffe pas\n   tableau = msg.thermostat.cold;\n   }\n\n//Mise à jour des historiques\nif (msg.thermostat.session.last_in_temp != msg.thermostat.unknown_value)\n   {\n   if (temperature != msg.thermostat.session.last_in_temp)\n      { // La température a changé\n      if (temperature > msg.thermostat.session.last_in_temp)\n         { // La température a augmenté.\n         msg.payload = \"La température a augmenté de \" + msg.thermostat.session.last_in_temp + \" à \" + temperature + \" \";\n         if (msg.thermostat.session.last_heating_state == 1)\n            msg.payload += \"avec chauffage.\"\n         else\n            msg.payload += \"sans chauffage.\"\n         node.send([msg, null, null]) ;\n         }\n      else if(temperature < msg.thermostat.session.last_in_temp)\n         { // La température a baissé.\n         msg.payload = \"La température a baissé de \" + msg.thermostat.session.last_in_temp + \" à \" + temperature + \" \";\n         if (msg.thermostat.session.last_heating_state == 1)\n            msg.payload += \"avec chauffage.\"\n         else\n            msg.payload += \"sans chauffage.\"\n         node.send([msg, null, null]);\n         }\n      // Recherche temp int = index du tableau\n      for (i = 0; i < tableau.length; i++)\n         if (tableau[i].col1 == temperature)\n            in_temp_idx = i;\n//      node.warn(\"Ligne = \" + in_temp_idx);\n      // Recherche temp ext = nom de l'attribut dans l'objet\n      for (const [key, value] of Object.entries(tableau[0]))\n         if (value == msg.thermostat.session.last_ex_temp)\n            ex_temp_att = key; //\n      //\n      const now = new Date() ;\n      // @ts-ignore\n      const minutes = Math.floor((now - msg.thermostat.session.last_in_update) / 60000);\n      node.warn(\"Valeur à changer = \" + in_temp_idx + \" / \" + ex_temp_att + \" : \" + tableau[in_temp_idx][ex_temp_att] + \"->\" + minutes);\n      tableau[in_temp_idx][ex_temp_att] = minutes ;\n      node.send([null, null, msg]); // Ecriture des fichiers\n      //\n      msg.thermostat.session.last_in_temp = temperature;\n      msg.thermostat.session.last_in_update = now;\n      }\n   }\nelse\n   { // Première valeur de in_temp reçue\n   msg.thermostat.session.last_in_temp = temperature;\n   msg.thermostat.session.last_in_update = new Date();\n   }\n\n// Allumage éventuel du chauffage\n// Recherche de la température de consigne à l'heure actuelle\nconst consigne = msg.thermostat.agenda[jourSemaine][heure];\n\n// Recherche de la température de consigne par anticipation\n// ...TBD...\n\n// Prise en compte de la temp actuelle v/s consigne\nvar heating_state = 0 ;\nif(temperature < consigne)\n   {\n   heating_state = 1;\n   msg.etat = \"ON\";\n   }\nelse\n   {\n   heating_state = 0;\n   msg.etat = \"OFF\";\n   }\nif (msg.thermostat.session.last_heating_state != heating_state) // Changement d'état du chauffage\n   {\n   msg.payload = \"Mise du chauffage à \" + heating_state + \" car temp=\" + temperature + \" et consigne=\" + consigne ;\n   node.send([msg, null, null]);\n   }\n\nmsg.thermostat.session.last_heating_state = heating_state;\nreturn ([null, msg, null]);",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "da5fb57e3a1084de"
            ],
            [
                "09bdd15322ac956b",
                "f0bd66cc7f9ba35c"
            ],
            [
                "18530b9ed84c03de"
            ]
        ]
    },
    {
        "id": "1a914e6eee87649a",
        "type": "csv",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "3058615f78b0b478"
            ]
        ]
    },
    {
        "id": "1282ab8e7669a8cb",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "ef17f305c57d6a9c"
            ]
        ]
    },
    {
        "id": "3058615f78b0b478",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 10",
        "func": "msg.thermostat.cold = msg.payload;\nglobal.set(\"THERMOSTAT\", msg.thermostat);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "892bf3e8fd399063"
            ]
        ]
    },
    {
        "id": "892bf3e8fd399063",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "c02c15a4d8791ebc",
        "type": "file in",
        "z": "e2267bfe72c3e79d",
        "name": "Cold",
        "filename": "thermostat.cold_file",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "1a914e6eee87649a"
            ]
        ]
    },
    {
        "id": "ef17f305c57d6a9c",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "function 11",
        "func": "var thermostat = global.get(\"THERMOSTAT\") ;\nmsg.thermostat = thermostat ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "c02c15a4d8791ebc"
            ]
        ]
    },
    {
        "id": "09bdd15322ac956b",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "f0bd66cc7f9ba35c",
        "type": "subflow:0181e1b26c9ae404",
        "z": "e2267bfe72c3e79d",
        "name": "R003",
        "env": [
            {
                "name": "relais",
                "value": "R003",
                "type": "str"
            },
            {
                "name": "etat",
                "value": "ON",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "fd1681bb9ecaac66",
        "type": "mqtt in",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "topic": "zigbee2mqtt/R003",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43acfe3a9b9177ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "2557f1050b091b8e"
            ]
        ]
    },
    {
        "id": "2557f1050b091b8e",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "18530b9ed84c03de",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "Sauve fichier Hot",
        "func": "/*\n\nmsg.thermostat = {\n    agenda_file: \"/data/thermo_agenda.csv\",\n    hot_file: \"/data/thermo_hot.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de chauffe. A quelle vitesse ça chauffe ?\n    cold_file: \"/data/thermo_cold.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de non-chauffe. A quelle vitesse ça refroidit ?\n    unknown_value: 999,\n    session : {\n        last_in_temp : 999,\n        last_in_update: 0,\n        last_ex_temp: 3,\n        last_ex_update: new Date(),\n        last_heating_state : 999\n    }\n} ;\n*/\nmsg.thermostat = global.get(\"THERMOSTAT\");\nmsg.payload = msg.thermostat.hot;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "10275f1d6c3947c4"
            ]
        ]
    },
    {
        "id": "2c360889d99d9d59",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "18530b9ed84c03de"
            ]
        ]
    },
    {
        "id": "390db7f7b6f97df9",
        "type": "csv",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "b020db10aec303f2"
            ]
        ]
    },
    {
        "id": "1abe4c18049d4de4",
        "type": "debug",
        "z": "e2267bfe72c3e79d",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 700,
        "wires": []
    },
    {
        "id": "b020db10aec303f2",
        "type": "file",
        "z": "e2267bfe72c3e79d",
        "name": "Cold",
        "filename": "thermostat.cold_file",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "1abe4c18049d4de4"
            ]
        ]
    },
    {
        "id": "0b8647b45aaa99c5",
        "type": "function",
        "z": "e2267bfe72c3e79d",
        "name": "Sauve fichier Cold",
        "func": "/*\n\nmsg.thermostat = {\n    agenda_file: \"/data/thermo_agenda.csv\",\n    hot_file: \"/data/thermo_hot.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de chauffe. A quelle vitesse ça chauffe ?\n    cold_file: \"/data/thermo_cold.csv\",  // Ce fichier est celui qui enregistre l'inertie en phase de non-chauffe. A quelle vitesse ça refroidit ?\n    unknown_value: 999,\n    session : {\n        last_in_temp : 999,\n        last_in_update: 0,\n        last_ex_temp: 3,\n        last_ex_update: new Date(),\n        last_heating_state : 999\n    }\n} ;\n*/\nmsg.thermostat = global.get(\"THERMOSTAT\");\nmsg.payload = msg.thermostat.cold;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "390db7f7b6f97df9"
            ]
        ]
    },
    {
        "id": "4160cdf04cd6e496",
        "type": "inject",
        "z": "e2267bfe72c3e79d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "0b8647b45aaa99c5"
            ]
        ]
    }
]